<div class="row">
    <div class="col-xs-6">ID</div>
    <div class="col-xs-6">${bean.id!}</div>
</div>
<div class="row">
    <div class="col-xs-6">消息ID</div>
    <div class="col-xs-6">${bean.messageId!}</div>
</div>
<div class="row">
    <div class="col-xs-6">消息key</div>
    <div class="col-xs-6">${bean.messageKey!}</div>
</div>
<div class="row">
    <div class="col-xs-6">消息内容</div>
    <div class="col-xs-6">${bean.messageBody!}</div>
</div>
<div class="row">
    <div class="col-xs-6">接收者编码</div>
    <div class="col-xs-6">${bean.receiverCode!}</div>
</div>
<div class="row">
    <div class="col-xs-6">消费数次</div>
    <div class="col-xs-6">${bean.receiverCount!}</div>
</div>
<div class="row">
    <div class="col-xs-6">重发数次</div>
    <div class="col-xs-6">${bean.resendTimes!}</div>
</div>
<div class="row">
    <div class="col-xs-6">消息状态</div>
    <div class="col-xs-6">
        <#if bean.status==10>未确认
        <#elseif bean.status==20>未发送
        <#elseif bean.status==30>发送中
        <#elseif bean.status==40>已发送
        <#elseif bean.status==50>已完成
        <#elseif bean.status==60>消费失败
        <#else>-
    </
    #if>
</div>
</div>
<div class="row">
    <div class="col-xs-6">版本号</div>
    <div class="col-xs-6">${bean.version!}</div>
</div>
<div class="row">
    <div class="col-xs-6">交换机编码</div>
    <div class="col-xs-6">${bean.exchangeCode!}</div>
</div>
<div class="row">
    <div class="col-xs-6">队列编码</div>
    <div class="col-xs-6">${bean.queueCode!}</div>
</div>
<div class="row">
    <div class="col-xs-6">键值编码</div>
    <div class="col-xs-6">${bean.keyCode!}</div>
</div>
<div class="row">
    <div class="col-xs-6">创建时间</div>
    <div class="col-xs-6">${bean.createdTime!}</div>
</div>
<div class="row">
    <div class="col-xs-6">更新时间</div>
    <div class="col-xs-6">${bean.updateTime!}</div>
</div>
