<div class="row">
    <div class="col-xs-6">ID</div>
    <div class="col-xs-6">${bean.id!}</div>
</div>
<div class="row">
    <div class="col-xs-6">消息key</div>
    <div class="col-xs-6">${bean.jobName!}</div>
</div>
<div class="row">
    <div class="col-xs-6">消息内容</div>
    <div class="col-xs-6">${bean.jobGroup!}</div>
</div>
<div class="row">
    <div class="col-xs-6">发送者编码</div>
    <div class="col-xs-6">${bean.cron!}</div>
</div>
<div class="row">
    <div class="col-xs-6">延时级别(s)</div>
    <div class="col-xs-6">${bean.description!}</div>
</div>
<div class="row">
    <div class="col-xs-6">延时级别(s)</div>
    <div class="col-xs-6">${bean.exeClass!}</div>
</div>
<div class="row">
    <div class="col-xs-6">顺序类型</div>
    <div class="col-xs-6">
        <#if bean.status=='OPEN'>开启<#else>关闭
    </#if>
</div>
</div>